.searchbox {
    padding-top:10px;
    padding-left:50px;
    max-width: 300px;
    min-width: 200px;
}
.form-group {
    padding-bottom: 5px;
    padding-left:50px;
    max-width: 300px;
    min-width: 200px;
}
.thead {
    padding-right:16px;
}
body {
    background-color: black;
    }
.connform {
        background:white;
      }