
.save {
  margin-top:20px;
  margin-left:20px;
}
td {
  padding: 0 15px;
}

th {
  padding: 0 15px;
}
.rowedit, .rowdelete  {
height:20px;
font-size: 8px;
width:50px;
text-align: top;
}
#searcharea {
overflow:auto;
}
body {
background-color: black;
}
.connform {
  background:white;
}

.searchareadiv {
  background:white;
}
