#main_header{background-color: white;
        color:black;
       text-align:center }
.container1 {
    background-color:darkblue;
    color:whitesmoke
}
.card {
    background-color: rgb(255, 255, 255);
    width: 60%;
    height:auto;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-left: 20%;
    float: left;
    text-align: center;
}

body {
    background-color: black;

}
    